[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target
#ConditionPathExists=!/proc/sys/net/ipv4/conf/tun0

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --protocol https --latest 30 --number 20 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
